.Dashboard{
    position: relative;
    width: 100%;
    height: 120vh;
}
.Dashboard h2{
    position: relative;
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    background: #3C3B54;
    margin-top: 0;
    display: flex;
    align-items: center;
    color: #fff;
}
.Dashboard ul li{
    position: relative;
    line-height: 5rem;
    text-decoration: none;
    list-style: none;
    margin-top: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    /* background: #3C3B54; */
    margin-left: -40px;
    padding-left: 29px;
    
}
.Dashboard ul li:hover{
    background: #3C3B54;
    
}
.Dashboard ul li:hover ion-icon{
    color: #635fe0;
}
.Dashboard ul li ion-icon{
   font-size: 24px;
   padding-right: 1.5rem;
   vertical-align: middle;
}
